{% extends 'base.html' %}
{% load static %}
{% block content %}

<div>
    <img src="{{c.image.url}}" height="450px" width="100%">
</div>

<div class="container-fluid mt-3" style="margin-bottom:100px;">
    <h3 class="text-center fw-bold">{{c.name}}</h3>
    <p style="text-align:justify;line-height:2;">{{c.desc}}</p>
</div>



<div class="container-fluid" style="margin-bottom:100px;">
    <div class="row">
    {% for i in p %}
    <div class="col-sm-3">
    <div class="card" style="width: 18rem;">
  <img src="{{i.image.url}}" height="180px" width="100%" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title text-center fw-bold">{{i.name}} </h5>
          <h5 class="card-title text-center fw-bold">{{i.price}} </h5>

    <a href="{% url 'shop:details' i.name %}" class="btn btn-dark" style="position:relative;left:35%;">Details </a>
  </div>
</div>
        </div>
        {% endfor %}
</div>
</div>





{% endblock %}